@font-face {
	font-family: 'Header';
	src:url(Roboto+Condensed.ttf);
}
@font-face {
	font-family: 'main1';
	src:url(mustardo.ttf);
}
body{
	width : 100%;
	height : 1000px;
	padding : 0;
	margin : 0;
}
.header {
	width: 100%;
	height: 35%;
	padding : 0;
	margin : 0;
}
.header .judul{
	width: 100%;
	height: 9%;
	background : #000;
	color: #ffffff;
	font-family:'Header';
}
.header .judul .yr{
	float : left;
	width : 50%;
	text-align:center;
	font-size: 25px;
	margin-top:0px;
}
.header .judul .ry{
	float : right;
	width : 50%;
	text-align:right;
}
.header .judul .ry ul {
	list-style-type: none;
	padding: 0;
	margin: 0.7% 0 0 0;
}
.header .judul .ry ul li{
	display: inline-block;
	margin-right: 25px;	
}
.header .judul .ry ul li a{
	text-decoration:none;
	color: #ffffff;
	-webkit-transition: 0.8s;
    transition: 0.8s;   		
}
.header .judul .ry ul li a:hover{
	color: #E08283;	
}
.header .gambar{
	width: 100%;
	height: 91%;
	background: url(back.png) no-repeat center;
}
.header .gambar .photo{
	width: 70px;
	height: 70px;
	margin: 21% 20% 0 47%;
	border-radius: 40px;
	border: #fff solid 5px;
	position:absolute;
}
.header .gambar .photo img{
	border-radius: 40px;
}

.main{
	width : 100%;
	height: 60%;
	background: #FFFFFF;
	padding : 0;
	margin : 0;
}
.main .atas{
	width:100%;
	height: 20%;
	text-align:center;
	font-family:'main1';
	font-size:36px;
	padding-top: 7%;	
}
.main .bawah{
	font-family:Arial, Helvetica, sans-serif;
	height: 70%;
	text-align:center;	
}
.main .bukutamu{
	font-family:Arial, Helvetica, sans-serif;
	height: 70%;
	padding-left:35%;
}
.main .gallery{
	font-family:Arial, Helvetica, sans-serif;
	overflow: hidden;
	height: 70%;
	margin: 0;
}
.footer {
	width: 100%;
	height: 5%;
	background: #E08283;
	padding : 0;
	margin : 0;
	text-align:center;
	color:#FFFFFF;
}
.footer .isi {
	padding-top:1%;
}
#input{
	background : none;
	color: #979797;
	width: 300px;
	border: 1px solid lightblue;
}
.main .bukutamu label {
	padding-right:10px;
}
#rr{
	background : none;
	border: solid 2px lightblue;
	padding: 5px 10px;
	-webkit-transition: 1s;
    transition: 1s;             
}
#rr:hover{
	background: lightblue;
	color: white;	
}
.thumb {
	float: left;
	width: 200px;
	height: 200px;
	margin:0px 15px 15px 0px;
	padding: 3px;
	background-color:none;
	overflow: hidden;
	font-size: 10px;
	-webkit-transition: 0.7s;
    transition: 0.7s;   
}
.thumb:hover {
	float: left;
	width: 200px;
	height: 200px;
	margin: 85px 85px 0px 85px;
	padding-top: 3px; padding-left: 3px; padding-right: 3px; padding-bottom: 0px;
	font-size: 11px;
	transform:scale(1.8);
	-webkit-transform:scale(1.8);
}